table>thead>tr>th, table>tbody>tr>:nth-child(2)  {
    max-width:100%;
    white-space:nowrap;
}

table>thead{
    margin-bottom: 28px;
}

.posts-date {
    color: #958e8eda;
}

.action-buttons {
    display: table-cell;
    vertical-align: middle !important;
}

select {
    margin-bottom: 28px;
}
